# Folders
logs/nginx/*
config/mysql/*
config/mysql_dump/*

# Test folder
config/nginx/tests
config/php/tests
config/ssl/tests


# Upload folder
www/public/uploads/*
!www/public/uploads/conferences/images/placeholder
# Dotenv
.env
.env.*
!.env.example

# IDE
.idea

# Save empty gitkeep file
!.gitkeep

# Logs
*.log
