{% extends 'base.html.twig' %}

{% block title %}KODOTalks{% endblock %}

{% block body %}
    <div class="welcome-logo d-flex justify-content-center align-items-center h-100 w-100 position-absolute">
        <img src="{{ asset('images/logo-kodo-yellow.svg') }}" alt="logo-kodo"/>
    </div>
{% endblock %}
