{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container">
        <h1>Le site comprend actuellement : {{ accounts }} comptes utilisateurs.</h1>
    </div>
{% endblock %}
