{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container">
        <h1>Liste des widgets :</h1>

        {% for widget in widgets %}
            <h3>Widget name :</h3>
            <p>{{ widget.name }}</p>
            <h3>Widget token</h3>
            <p>{{ widget.token }}</p>
            <h3>Widget code</h3>
            <textarea class="full">
               <iframe src="http://localhost:8080/widget?id={{ widget.id }}&token={{ widget.token }}" width="100%" frameborder="0" height="500"/>
            </textarea>
        {% endfor %}
        <hr>
    </div>
{% endblock %}
