{% extends 'base.html.twig' %}

{% block title %}Widget{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget">
        <div class="widget-inner">
            {% if isValidToken %}
                <h1>Token est valide</h1>
            {% else %}
                <h1>Token est invalide</h1>
            {% endif %}

            {# establishment.extract|u.truncate(50, '...', true) #}
        </div>
    </div>
{% endblock %}
