{% extends 'base.html.twig' %}

{% block title %}Widget{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget">
        <div class="widget-inner">
            {{ establishment }}
        </div>
    </div>
{% endblock %}
