{% extends 'base.html.twig' %}

{% block title %}Widget{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget">
        <div class="widget-inner">
            {{ establishment }}
            {{ dump(establishment) }}
            {# establishment.extract|u.truncate(50, '...', true) #}
        </div>
    </div>
{% endblock %}
