<div id="{% block id %}{% endblock %}" class="overlay">
    <a href="https://kodotalks.com" target="_blank"><img src="{{ asset('images/logo-kodo-yellow.svg') }}" alt="logo-kodo"></a>
    {% block content %}{% endblock %}
</div>
