// @import "vendor/easycorp/easyadmin-bundle/assets/css/easyadmin-theme/variables-theme.scss";
@import "../custom";
// @import "~bootstrap/scss/bootstrap";

:root {
  --color-primary: #21177D;
}

#main-menu {
  font-size: 16px;

  .menu-item {
    margin: 1em 0;
  }
}

.form-check-input:checked {
  background-color: $primary-color-light;
  border-color: $primary-color-light;
}

#widgets-panel {
  #btn-add-subdomain {
    color: $white-color;
  }

  .code-preview {
    line-height: 100%;
  }

  #table-widgets {
    background-color: $white-color;
  }

  .link-accordion {
    cursor: pointer;
  }
}

.panel-main-title {
  font-size: 20px;
  color: $primary-color;
}

.widgets-preview {
  margin-top: 2rem;

  .widget-preview-title {
    font-size: 20px;
    color: $primary-color;
  }

  .widget-preview-subtitle {
    font-size: 16px;
    color: $purple-color-light;
    font-weight: normal;
  }

  .widget-card-preview {
    border-color: $primary-color;

    .card-header {
      border-color: $primary-color;
      font-size: 20px;
      font-weight: bold;
      color: $primary-color;
      padding: 1rem 2rem;
    }
  }
}
