$primary-color: #21177D;
$primary-color-light: #0E12C6;
$yellow-color: #FFE01B;
$white-color: #FFFFFF;

$theme-colors: (
        "primary":    $primary-color,
        "secondary":  $yellow-color,
        // "success":    $success,
        // "info":       $info,
        // "warning":    $warning,
        // "danger":     $danger,
        // "light":      $light,
        // "dark":       $dark
);
