$primary-color: #21177D;
$primary-color-light: #0E12C6;
$yellow-color: #FFE01B;
$secondary-color: #FFE01B;
$secondary-color: #FFE01B;
$cyan-color: #17A2B8;
$white-color: #FFFFFF;
$purple-color-light: #988EF4;
$black-color: #000000;

$success: #FFF;
$info: #65965b;
$warning: #d99845;
$danger: #a02b2b;
$light: #CCC;
$dark: #333;

$theme-colors: (
        "primary": $primary-color,
        "secondary": $yellow-color,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
