@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

body {
  background-color: $primary-color;
}

.page-signin {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: linear-gradient($primary-color-light, $primary-color);
}

.form-signin {
  background-color: $white-color;
  width: 100%;
  max-width: 500px;
  padding: 2rem 2rem;
  margin: auto;
  border-radius: 2rem;
  @include media-breakpoint-up(md) {
    padding: 2rem 8rem;
  }

  .form-header {
    text-align: center;
  }

  .form-cta {
    font-size: 1em;
  }

  .password-forgot {
    font-size: 12px;
    margin-bottom: 2rem;

    a {
      color: $purple-color-light;
    }
  }
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
