@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  background: white;
}

.bg-purple {
  background-color: $purple;
}

.bg-cyan {
  background-color: $cyan-color;
}

.widget-pro {
}

.widget-standard {

}

.widget-inner {
  background-color: $white-color;

  .widget-topbar {
    background-color: $primary-color-light;
  }
}

#widget-wrapper {
  position: relative;

  .widget-tabs {
    .tabs-title {
      .tab-title {
        &.event-past {
          background-color: $primary-color-light;
        }

        &.active {
          a {
            color: $primary-color-light;
          }
        }

        a {
          padding: 1rem;
          display: block;
          text-align: center;
          text-decoration: none;
          color: $white-color;
          font-weight: bold;
        }
      }
    }
  }

  .conferences-list {
    padding: 1rem;

    .conference-item {
      .conference-title {
        text-transform: uppercase;
      }

      .card-image {
        background-size: cover;
        background-position: center;
        height: 100%;
      }

      .card-heading-text {
        flex-grow: 1;
      }

      .btn-like {
        color: $white-color;
      }

      .conferences-metas {
        flex-direction: column;
        @media (min-width: 500px) {
          flex-direction: row;
        }
      }

      a {
        text-decoration: none;
        color: $black-color;
      }
    }
  }
}

#overlay-not-allowed {
  display: none;
}

.overlay {
  display: none;
  background: $primary-color;
  color: $yellow-color;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  z-index: 200;
}

.pagination {
  .page-item {
    .page-link {
      color: $primary-color-light;
    }
  }

  .page-item.active .page-link {
    color: $white-color;
    background-color: $primary-color-light;
    border-color: $primary-color-light;
  }
}
