@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  background: white;
}

.widget-pro {
}

.widget-standard {

}

#overlay-not-allowed {
  display: none;
}

.overlay {
  display: flex;
  background: $primary-color;
  color: $yellow-color;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
